@import "../node_modules/bootstrap/scss/bootstrap";

.enigma-red {
    background-color: #931a00;
}

.enigma-navbar {
    background-color: #272727;
}

.enigma-border {
    color: #272727
}

$primary: enigma-red;

$theme-colors: map-merge($theme-colors, (
    "primary": $primary
));

$primary: enigma-navbar;

$theme-colors: map-merge($theme-colors, (
    "primary": $primary
));

$primary: enigma-border;

$theme-colors: map-merge($theme-colors, (
    "primary": $primary
));