@import "../node_modules/bootstrap/scss/bootstrap";

.bg-enigma {
    background: linear-gradient(to bottom, #931a00 0%, #1a0093 100%);
}

$primary: bg-enigma;

$theme-colors: map-merge($theme-colors, (
    "primary": $primary
));