{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Team Management{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Team Name</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password " id="password" required>
        <label for="permission">Permission Level</label>
        <input type="radio" id="green" name="permission_level" value="GREEN">
        <label for="green">Green Team (Manage injects, teams)</label>
        <input type="radio" id="user" name="permission_level" value="USER">
        <label for="user">User (Competitor)</label>
        <input type="submit" value="Create Team">
    </form>
{% endblock %}